<%= render 'pages/home' unless user_signed_in? %>
<% if user_signed_in? %>
<div id="hexes" class="transitions-enabled">
  <div class="box panel panel-default">
    <div class="panel-body">
      <%= link_to new_hex_path do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Hex
      <% end %>
    </div>
  </div>
  <% @hexes.each do |hex| %>
  <% if hex.user == current_user %>
  <div class="box panel panel-default">
    <div class="colorBox" style="background-color: #<%= hex.hexcode%>">
    </div>
    <div class="panel-body container-fluid">
      <div class="row">
        <div class="col-xs-8">
          <%= hex.hexcode %>
        </div>
        <div class="col-xs-4 pull-right actions">
          <%= link_to edit_hex_path(hex) do %>
          <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to hex, method: :delete, data: { confirm: ' Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
  <% end %>

  <div class="center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
  <% end %>