<div id="hexes" class="transitions-enabled">
  <% @hexes.each do |hex| %>
    <div class="box panel panel-default">
      <%= image_tag hex.image.url(:medium) %>
      <div class="panel-body">
        <%= hex.description %>
        <%= hex.user.email %>
        <%= link_to 'Show', hex %>
        <% if hex.user == current_user %>
          <%= link_to 'Edit', edit_hex_path(hex) %>
          <%= link_to 'Destroy', hex, method: :delete, data: { confirm: ' Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>